.products-container {
  width: 600px;
  height: 2000px;
  display: flex;
  background-color: gray;
  margin: 60px;
}

 
 .product-card {
      background-color: white;
      width: auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      font-family: Arial, sans-serif;
      margin: 15px;
      
    }

    .product-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }

    .product-title {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
    }

    .product-rating {
      color: #f39c12;
      margin-bottom: 8px;
    }

    .product-price {
      font-size: 22px;
      font-weight: bold;
      color: #2ecc71;
    }


    .cart-button {
        margin-top: 5px;
        background-color: #ffce12;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        color: black;
        cursor: pointer;
    }